<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Nowy użytkownik</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <a href="{{ base_url('admin/user') }}" class="btn btn-sm btn-primary btn-create">Lista Użytkowników</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">

                        <form role="form" action="{{ base_url('admin/user/create') }}" accept-charset="UTF-8"
                              method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" name="email" id="email" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="ident">IDENT:</label>
                                <input type="text" class="form-control" name="ident" id="ident">
                            </div>
                            <div class="form-group">
                                <label for="name">Imię:</label>
                                <input type="text" class="form-control" name="name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="surname">Nazwisko:</label>
                                <input type="text" class="form-control" name="surname" id="surname">
                            </div>
                            <div class="form-group">
                                <label for="company">Firma:</label>
                                <input type="text" class="form-control" name="company" id="company">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon:</label>
                                <input type="text" class="form-control" name="phone" id="phone">
                            </div>

                            <div class="form-group">
                                <label for="company">Status:</label>
                                <div class="funkyradio">
                                    <div class="funkyradio-success">
                                        <input type="radio" name="active" id="active" value="1" checked/>
                                        <label for="active">Aktywny</label>
                                    </div>
                                    <div class="funkyradio-danger">
                                        <input type="radio" name="active" id="unactive" value="0"/>
                                        <label for="unactive">Nieaktywne</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="multiple" class="control-label">Select2 multi select</label>
                                <select name="group" id="select2-test">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}">{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="submit" name="action" class="btn btn-success btn-block" value="ZAPISZ">
                            </div>
                        </form>

                    </div>
                </div>


            </div>
            <div class="panel-footer">
                <div class="row">
                    {% if pagination is not null %}
                        {{ pagination|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>


