<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Lista użytkowników</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <a href="{{ base_url('admin/user/create') }}" class="btn btn-sm btn-primary btn-create">Nowe konto</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>
                        <th>IDENT</th>
                        <th>Email</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Pozycja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td align="left">
                            {% if user.active == '1' %}
                                <a href="{{ base_url('admin/user/deactive/') }}{{ user.id }}" class="btn btn-xs btn-success"><em class="fa fa-check"></em></a>
                            {% elseif user.active == '0' %}
                                <a href="{{ base_url('admin/user/active/') }}{{ user.id }}" class="btn btn-xs btn-danger"><em class="fa fa-close"></em></a>
                            {% endif %}
                            <a class="btn btn-xs btn-default"><em class="fa fa-pencil"></em></a>
                            <a href="{{ base_url('admin/user/delete/') }}{{ user.id }}" class="btn btn-xs btn-danger"><em class="fa fa-trash"></em></a>
                        </td>

                      {#  {{ dump(users) }}#}

                            <td class="hidden-xs">{{ user.id }}</td>
                            <td>{{ user.ident }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>

                            {% if user.groups_id == '1' %}
                                <td class="danger">{{ user.name_groups }}</td>
                            {% elseif user.groups_id == '2' %}
                                <td class="warning">{{ user.name_groups }}</td>
                            {% endif %}

                        {% endfor %}



                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <div class="row">
                    {% if pagination is not null %}
                        {{ pagination|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
